<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Успеваемость студента</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <nav th:insert="components/header :: header" class="navbar navbar-expand-lg bg-body-tertiary"></nav>
  <div class="container mt-5">
    <div class="col-md-10 mx-auto">
      <h2 class="text-center my-5">Система управления успеваемостью студентов</h2>
    </div>
    <div class="text-center">
      <div class="mb-3 d-grid gap-2 d-md-block">
        <a class="btn btn-outline-primary col-md-2" href="/" role="/students">Студенты</a>
        <a class="btn btn-outline-primary col-md-2" href="/" role="/disciplines">Дисциплины</a>
        <a class="btn btn-outline-primary col-md-2" href="/" role="/terms">Семестры</a>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>